.master-container{
    max-width: 56.25rem;
    margin: auto;
}



@media screen and (max-width:768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 10px;
    }
}
