@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('../components/Image/image.css');
@import url('../components/Text/text.css');
@import url('../components/Alert/alert.css');
@import url('../components/Avatar/avatar.css');
@import url('../components/Badges/badges.css');
@import url('../components/Buttons/buttons.css');
@import url('../components/Cards/cards.css');
@import url('../components/Input/input.css');
@import url('../components/Lists/lists.css');
@import url('../components/Navigation/nav.css');
@import url('../components/Modal/modal.css');
@import url('../components/Toast/toast.css');
@import url('../components/Rating/rating.css');


:root{

    font-family: 'Roboto', sans-serif;

    /* Default colors */

    /* --primary-clr: #a137f8; */
    --primary-clr: #5f0085;
    --primary-hover-clr: #8102b3;

    --secondary-clr: black;
    --secondary-hover-clr: rgb(51, 51, 51);

    --success-clr: rgb(3, 158, 3);
    --success-hover-clr: rgb(2, 116, 2);

    --danger-clr: #ff0000;
    --danger-hover-clr: #ca0303;

    --warning-clr: #ffa600;
    --warning-hover-clr: #dd9103;

    --disabled-clr: #808080;
    

    --white-bg: rgb(255, 255, 255);
    --dark-bg: rgb(31, 31, 31);

    --seperator-line: rgb(197, 196, 196);



    /* Default Font colors */

    --default-font-clr: white;
    --secondary-font-clr: black;

    --text-grey-clr: rgb(161, 161, 161);
    

    /* Avatar */
    --avatar-border: purple;

    /* badges */
    --badge-online: rgb(5, 199, 5);
    --badge-offline: rgb(180, 180, 180);
    --badge-busy: #ff0000;
    --badge-away: #ffa500;
    --badge-w-txt-bckgrnd: #ff0000;
    --badge-w-txt-font-clr: #ffffff;


    /* Card */
    --dismiss-btn-background: #ffffff;
    --card-bg: white; 
    --card-text-clr-over-img: white;
    --eCom-card-badge-bg: white;
    --eCom-card-secondary-text: rgb(161, 161, 161);


    /* Input */
    --input-text-color: black;
    --input-border: black;
    
}

body{
    margin: 0;
    padding: 0;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute; 
}

.seperator-line-bottom{
    border-bottom: 1px solid var(--seperator-line);
    padding-bottom: 1rem;
}
