<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities</title>
    <link rel="stylesheet" href="/CSS/components.css">
</head>
<body>
    <!-- Default headings -->
    <h1>H1-Heading</h1>
    <h2>H2-Heading</h2>
    <h3>H3-Heading</h3>
    <h4>H4-Heading</h4>
    <h5>H5-Heading</h5>

    <!-- Diifferent text sizes -->
    <p class="text-xl">Lorem Ipsum</p>
    <p class="text-l">Lorem Ipsum</p>
    <p class="text-md">Lorem Ipsum</p>
    <p class="text-reg">Lorem Ipsum</p>
    <p class="text-sm">Lorem Ipsum</p>
    <p class="text-xs">Lorem Ipsum</p>

    
    <!-- Text with no margin -->
    <h1 class='text-no-margin'>H1-Heading</h1>
    <p class="text-reg text-no-margin">Lorem Ipsum</p>
    
    
    <!-- Text align -->
    <h4 class="text-center">Center text</h4>
    
    
    <!-- Text align -->
    <h4 class="text-grey">Center text</h4>
    <p class="text-reg text-no-margin text-grey">Lorem Ipsum</p>

</body>
</html>
