

.text-xl{
    font-size: 3rem;
}
.text-l{
    font-size: 2rem;
}
.text-md{
    font-size: 1.5rem;
}
.text-reg{
    font-size: 1rem;
}
.text-sm{
    font-size: 0.8rem;
}
.text-xs{
    font-size: 0.5rem;
}



.text-center{
    text-align: center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}

.text-grey{
    color: var(--text-grey-clr)
}
