<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
    <div class="badge-wrapper">
        <img src="../../Images/cat.jpg" alt="cat picture" class="avatar avatar-size-sm">
        <span class="badge badge-sm badge-away"></span>
    </div>

    <div class="badge-wrapper">
        <img src="../../Images/cat.jpg" alt="cat picture" class="avatar avatar-size-md">
        <span class="badge badge-md badge-online"></span>
    </div>
    <div class="badge-wrapper">
        <img src="../../Images/cat.jpg" alt="cat picture" class="avatar avatar-size-lg">
        <span class="badge badge-lg badge-busy"></span>
    </div>

    <div class="badge-wrapper">
        <div class="badge-icon">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge-w-txt">99</span>
        </div>
    </div>

    <div class="badge-wrapper">
        <div class="badge-icon">
            <i class="fas fa-bell"></i>
            <span class="badge-w-txt">99</span>
        </div>
    </div>
    <div class="badge-wrapper">
        <div class="badge-icon">
            <i class="fas fa-envelope"></i>
            <span class="badge-w-txt">99</span>
        </div>
    </div>




</body>
</html>