<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>

    <button class="btn btn-success">
        Success
    </button>

    <button class="btn btn-secondary">
        Secondary
    </button>

    <button class="btn outline-danger-btn">
        Danger
    </button>

    <button class="btn btn-warning">
        <a href="#" class="btn-link">Link</a>
    </button>

    <button class="btn outline-secondary-btn">
        <a href="#" class="btn-link">Link</a>
    </button>



    <button class="btn icon-btn btn-danger">
        <i class="fas fa-address-book btn-favicon-icon"></i>
        new link  
    </button>

    <button class="btn floating-btn btn-secondary">
        <i class="fas fa-pen"></i>
    </button>




</body>
</html>
