<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="/CSS/components.css">

</head>
<body>
    <h3>Avatar</h3>
        
        <img src="../../Images/cat.jpg" class="avatar avatar-size-lg" alt="avatar picture">
        <img src="../../Images/cat.jpg" class="avatar avatar-size-md" alt="avatar picture">
        <img src="../../Images/cat.jpg" class="avatar avatar-size-sm" alt="avatar picture">

    <h3>Square Avatar</h3>
        
        <img src="../../Images/cat.jpg" class="avatar-square avatar-size-lg" alt="avatar picture">
        <img src="../../Images/cat.jpg" class="avatar-square avatar-size-md" alt="avatar picture">
        <img src="../../Images/cat.jpg" class="avatar-square avatar-size-sm" alt="avatar picture">

    <h3>Avatar With border</h3>
        <img src="../../Images/cat.jpg" class="avatar avatar-border" alt="avatar picture">
        <img src="../../Images/cat.jpg" class="avatar-square avatar-border" alt="avatar picture">

</body>


</html>