<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>

    <!-- Card with Badges -->
    <div class="card relative">
        <span class='card-badge absolute'>Awesome</span>
        <section class="card-image-box">
            <img  src="/Images/landscape.jpeg" alt="landscape" class='img-responsive'>
        </section>

        <section class="card-body-container">
            <section class="card-topic-subtopic-container">
                <h4 class="card-main-topic">Our Changing Planet</h4>
                <h5 class="card-sub-topic">by Hrishikesh</h5>
            </section>

            <p class='card-topic-summary'>
                Visit ten places on our planet that are undergoing the biggest changes today.
            </p>
        </section>

        <section class="card-footer-container">

            <div class="footer-btn-wrapper">
                <button class="card-footer-btn">READ</button>
                <button class="card-footer-btn">BOOKMARK</button>
            </div>

            <div class="footer-icon-btn-wrapper">
                <button class="card-footer-icon"><i class="far fa-heart"></i></button>
                <button class="card-footer-icon"><i class="fas fa-share-alt"></i></button>
                <button class="card-footer-icon"><i class="fas fa-ellipsis-v"></i></button>
            </div>
        </section>
    </div>

    <!-- Card with Dismiss -->
    <div class="card relative">
        <span class='card-dismiss-btn absolute'><i class="fas fa-times-circle"></i></span>
        <section class="card-image-box ">
            <img  src="../../Images/landscape.jpeg" alt="landscape" class='img-responsive'>
        </section>

        <section class="card-body-container">
            <section class="card-topic-subtopic-container">
                <h4 class="card-main-topic">Our Changing Planet</h4>
                <h5 class="card-sub-topic">by Hrishikesh</h5>
            </section>

            <p class='card-topic-summary'>
                Visit ten places on our planet that are undergoing the biggest changes today.
            </p>
        </section>

        <section class="card-footer-container">

            <div class="footer-btn-wrapper">
                <button class="card-footer-btn">READ</button>
                <button class="card-footer-btn">BOOKMARK</button>
            </div>

            <div class="footer-icon-btn-wrapper">
                <button class="card-footer-icon"><i class="far fa-heart"></i></button>
                <button class="card-footer-icon"><i class="fas fa-share-alt"></i></button>
                <button class="card-footer-icon"><i class="fas fa-ellipsis-v"></i></button>
            </div>
        </section>
    </div>

    <!-- Cards with text overlay -->
    <div class="card">
        <section class="card-image-box relative">
            <img  src="../../Images/landscape.jpeg" alt="landscape" class='img-responsive'>
            <section class="card-topic-subtopic-container absolute card-text-ov-img">
                <h4 class="card-main-topic">Our Changing Planet</h4>
                <h5 class="card-sub-topic">by Hrishikesh</h5>
            </section>
        </section>


        <section class="card-body-container">
            <p class='card-topic-summary'>
                Visit ten places on our planet that are undergoing the biggest changes today. 
            </p>
        </section>

        <section class="card-footer-container">
            <div class="footer-btn-wrapper">
                <button class="card-footer-btn">READ</button>
                <button class="card-footer-btn">BOOKMARK</button>
            </div>
            <div class="footer-icon-btn-wrapper">
                <button class="card-footer-icon"><i class="far fa-heart"></i></button>
                <button class="card-footer-icon"><i class="fas fa-share-alt"></i></button>
                <button class="card-footer-icon"><i class="fas fa-ellipsis-v"></i></button>
            </div>

        </section>
    </div>

    <!-- Text-only card-->
    <div class="card">
        <section class="card-body-container">
            <section class="card-topic-subtopic-container">
                <h4 class="card-main-topic">Our Changing Planet</h4>
                <h5 class="card-sub-topic">by Hrishikesh</h5>
            </section>

            <p class='card-topic-summary'>
                Visit ten places on our planet that are undergoing the biggest changes today.
            </p>
        </section>

        <section class="card-footer-container">

            <div class="footer-btn-wrapper">
                <button class="card-footer-btn">READ</button>
                <button class="card-footer-btn">BOOKMARK</button>
            </div>

            <div class="footer-icon-btn-wrapper">
                <button class="card-footer-icon"><i class="far fa-heart"></i></button>
                <button class="card-footer-icon"><i class="fas fa-share-alt"></i></button>
                <button class="card-footer-icon"><i class="fas fa-ellipsis-v"></i></button>
            </div>
        </section>
    </div>

    <!-- Vertical card -->
    <div class="card">
        <section class="card-image-box">
            <img  src="../../Images/landscape.jpeg" alt="landscape" class='img-responsive'>
        </section>

        <section class="card-body-container">
            <section class="card-topic-subtopic-container">
                <h4 class="card-main-topic">Our Changing Planet</h4>
                <h5 class="card-sub-topic">by Hrishikesh</h5>
            </section>

            <p class='card-topic-summary'>
                Visit ten places on our planet that are undergoing the biggest changes today.
            </p>
        </section>

        <section class="card-footer-container">

            <div class="footer-btn-wrapper">
                <button class="card-footer-btn">READ</button>
                <button class="card-footer-btn">BOOKMARK</button>
            </div>

            <div class="footer-icon-btn-wrapper">
                <button class="card-footer-icon"><i class="far fa-heart"></i></button>
                <button class="card-footer-icon"><i class="fas fa-share-alt"></i></button>
                <button class="card-footer-icon"><i class="fas fa-ellipsis-v"></i></button>
            </div>
        </section>
    </div>

    <!-- Horizontal card -->
    <div class="card">

        <section class="card-horizontal-layout">

            <section class="card-image-box-horiz">
                <img  src="../../Images/landscape.jpeg" alt="landscape" class='card-img-horiz'/>
            </section>

            <section class="card-body-container card-horiz-content">
                <section class="card-topic-subtopic-container">
                    <h4 class="card-main-topic">Our Changing Planet</h4>
                    <h5 class="card-sub-topic">by Hrishikesh</h5>
                </section>
            </section>
        </section>


        <section class="card-footer-container card-horiz-footer">

            <div class="footer-btn-wrapper">
                <button class="card-footer-btn">READ</button>
                <button class="card-footer-btn">BOOKMARK</button>
            </div>

            <div class="footer-icon-btn-wrapper">
                <button class="card-footer-icon"><i class="far fa-heart"></i></button>
                <button class="card-footer-icon"><i class="fas fa-share-alt"></i></button>
                <button class="card-footer-icon"><i class="fas fa-ellipsis-v"></i></button>
            </div>

        </section>
    </div>

    <!-- Card with shadow -->
    <div class="card card-shadow">

        <section class="card-horizontal-layout">

            <section class="card-image-box-horiz">
                <img  src="../../Images/landscape.jpeg" alt="landscape" class='card-img-horiz'/>
            </section>

            <section class="card-body-container card-horiz-content">
                <section class="card-topic-subtopic-container">
                    <h4 class="card-main-topic">Our Changing Planet</h4>
                    <h5 class="card-sub-topic">by Hrishikesh</h5>
                </section>
            </section>
        </section>


        <section class="card-footer-container card-horiz-footer">

            <div class="footer-btn-wrapper">
                <button class="card-footer-btn">READ</button>
                <button class="card-footer-btn">BOOKMARK</button>
            </div>

            <div class="footer-icon-btn-wrapper">
                <button class="card-footer-icon"><i class="far fa-heart"></i></button>
                <button class="card-footer-icon"><i class="fas fa-share-alt"></i></button>
                <button class="card-footer-icon"><i class="fas fa-ellipsis-v"></i></button>
            </div>

        </section>
    </div>

</body>
</html>
