
.navBar-wrapper{
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--primary-clr);
    color: var(--default-font-clr);
    width:100%;
}
.navBar-items-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navBar-logo-container{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.navBar-logo{
    width: 100%;
}

.navBar-title{
    margin: 0;
}
.navBar-items-right{
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navBar-link{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    color: var(--default-font-clr);
    box-sizing: border-box;
    border-radius: 0.2rem;
}

.navBar-link:hover{
    border: 2px solid var(--default-font-clr);
}
