<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <nav class="nav-wrapper">
        <nav class="nav-items-left">
            <div class="nav-logo-container">
                <a href="#" id='nav-logo-link'><img src="./catSil.svg" alt="" class="nav-logo"></a>
            </div>
            <h4 class="nav-title">Nav Bar</h4>
        </nav>
        <nav class="nav-items-right">
            <a href="#" class="nav-link">Link 1</a>
            <a href="#" class="nav-link">Link 1</a>
            <a href="#" class="nav-link">Link 1</a>
        </nav>
    </nav>
    
</body>
</html>
