<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <button id="show-modal" class="btn outline-primary-btn">show modal</button>


    <div class="modal">
        <h4 class="modal-heading">Title lorem</h4>
        <i class="fas fa-times modal-close-btn"></i>
        <p class="modal-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla delectus labore aliquid? Dolores officiis mollitia enim dolorum sit</p>

        <div class="modal-btn-container">
            <button class="modal-btn">Action 1</button>
            <button class="modal-btn">Action 2</button>
        </div>
    </div>

    <script src="./modal.js"></script>
</body>
</html>
